.btn-download {
  background-color: red;
  font-weight: bold;
  color: #fff !important;
  padding: 4px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-download:hover, a.btn-download:hover {
  text-decoration: none !important;
}