/* #hero-animated {
  background-image: url(../img/vng/frame1/background.png);
  background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
} */