#footer {
  background: #000000;
  color: var(--color-white);
  padding: 20px 0 32px 0;
}
            
.footer-info {
  font-size: 12px;
  line-height: 16px;
  color: #e6e6e6;
  font-weight: 300;
  margin-bottom: 25px;
}
.footer-link {
  font-size: 16px;
  line-height: 16px;
  color: #e6e6e6;
  font-weight: bold;
}