/* Mobile first */
@keyframes drawer-animate-fadein {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes drawer-animate-fadeout {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.ranked_item {
  position: relative;
  width: 261px;
  min-width: 188px;
  height: 130px;
}

.ranked_item > .ranked_item-label > label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ranked_item > .ranked_item-label {
  position: relative;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 100%;
}

.ranked_item-avatar-inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100px;
  height: 100px;
}

.ranked_item-thumb {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100px;
  height: 100px;
}

.ranked_item-subthumb {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0) scale(0.8);
  width: 100px;
  height: 100px;
}

.ranked_item-top {
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translate(0, -50%);
}

.title {
  font-size: clamp(0.625rem, 1vw + 0.625rem, 1.125rem);
  font-family: 'Spiegel';
  color: var(--color-white);
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 18px;
}

.table-container {
  background-image: url(../img/vng/frame1/desktop/desktop_ranked_bg.png);
  background-position: center -180px;
  background-size: cover;
  background-repeat: no-repeat;
}

#frame1_ranked_table {
  padding: 0 60px;
}

.frame1_cta {
  background-image: url(../img/vng/frame1/desktop/desktop_cta.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .header > div > nav {
    display: none;
  }
}

@media (min-width: 1024px) {
  .frame1 {
    width: 100vw;
    height: 100vh;
    min-height: 938px;
    position: relative;
  }
  #hero-animated.frame1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/vng/frame1/desktop/desktop_background.png);
  }
  #hero-animated.frame1 .frame1_char {
    width: 100%;
    background-image: url(../img/vng/frame1/desktop/desktop_char_ambessa.png);
    background-size: cover;
    background-position: -74px 100px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
  }
  .frame1_content {
    width: 100%;
    display: flex;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  .frame1_content > .frame1_content-overview {
    height: 100%;
    display: flex;
    /* flex: 1 1 734px; */
    flex: 0 1 734px;
    flex-direction: column;
  }
  .frame1_content > .frame1_content-ranked {
    flex: 1 1 0;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }
  .frame1_content-ranked > .test {
    display: flex;
    justify-content: center;
    --bs-gutter-y: -54px;
    position: absolute;
    top: 157px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .ranked_item > .ranked_item-label {
    width: 261px;
    min-width: 188px;
    height: 67px;
  }
  .test2 {
    position: absolute;
    top: 157px;
    height: calc(100vh - 157px);
  }
}

@media (max-width: 1024px) {
  #navbar, .btn-download {
    display: none;
  }

  #hero-animated.frame1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/vng/frame1/mobile/mobile_background.png);
  }

  #hero-animated.frame1 .frame1_char {
    width: 100%;
    height: 100vh;
    background-image: url(../img/vng/frame1/mobile/mobile_char_ambessa.png);
    background-size: cover;
    background-position: center 100px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
  }

  .drawer__container {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 0;
    left: -100%;
  }

  .drawer__container .btn-download-mobile {
    width: calc(100% - 64px);
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    text-transform: uppercase;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .drawer__container.drawer-animate-fadein {
    animation: drawer-animate-fadein 0.1s linear;
    left: 0;
  }

  .drawer__container.drawer-animate-fadeout {
    animation: drawer-animate-fadeout 0.1s linear;
    left: -100%;
  }
  .drawer-title {
    font-size: 1.25rem;
    line-height: 24px;
    color: var(--color-white);
    text-transform: uppercase;
    font-family: 'GS3 Beatrice Medium';
  }

  .frame1_content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    padding: 357px 0 0 0;
  }

  .frame1_content-ranked {
    width: 100%;
  }

  .table-container {
    background-image: url(../img/vng/frame1/mobile/mobile_ranked_bg.png);
    padding: 0 30px;
    background-size: cover;
    background-position: 50% -168px;
    background-repeat: no-repeat;
  }

  .ranked_item {
    position: relative;
    width: 163px;
    height: 130px;
  }
  .ranked_item > .ranked_item-label {
    height: 42px;
    width: 163px;
  }
   
}
