.header {
  padding: 0 20px;
  transition: all 0.5s;
  z-index: 997;
  background: #000000;
  display: flex;
  height: 100px;
}

.header-mobile {
  padding: 43px 23px 14px 23px;
}

.header.sticked {
  background: #151414;
  box-shadow: 0px 2px 20px rgba(var(--color-secondary-rgb), 0.1);
}

.header-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}