body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.btn-menu-mobile {
	transition: all 0.3s ease;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
}

.btn-menu-mobile > i.btn-menu-mobile-icon {
	font-size: 20px;
}

.btn-menu-mobile:hover {
  background-color: rgba(255, 255, 255, 0.212);
}
 @media (min-width: 938px) {
	.btn-menu-mobile {
		display: none;
	}
 }

.sticky-social-icons {
	position: fixed;
	right: 0;
	top: calc(var(--header-height) + 45px);
	z-index: 99;
	width: max-content;
	margin-right: 20px;
}

.sticky-social-icons .social-icon {
	margin: 5px 0;
	display: flex;
}

.sticky-social-icons .social-icon img {
	display: block;
	width: 60px;
	height: 60px;
	transition: transform 0.3s ease;
}

.sticky-social-icons .social-icon:hover img {
	transform: scale(1.1);
	filter: brightness(110%);
}

/* FONTS: BEAUFORTFORLOL */
@font-face {
	font-family: 'Beaufort For LOL Bold';
	src: url('../fonts/BEAUFORTFORLOL-BOLD.OTF') format('opentype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Beaufort For LOL Bold Italic';
	src: url('../fonts/BEAUFORTFORLOL-BOLDITALIC.OTF') format('opentype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Beaufort For LOL Heavy';
	src: url('../fonts/BEAUFORTFORLOL-HEAVY.OTF') format('opentype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Beaufort For LOL Heavy Italic';
	src: url('../fonts/BEAUFORTFORLOL-HEAVYITALIC.OTF') format('opentype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Beaufort For LOL Light';
	src: url('../fonts/BEAUFORTFORLOL-LIGHT.OTF') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Beaufort For LOL Light Italic';
	src: url('../fonts/BEAUFORTFORLOL-LIGHTITALIC.OTF') format('opentype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Beaufort For LOL Medium';
	src: url('../fonts/BEAUFORTFORLOL-MEDIUM.OTF') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Beaufort For LOL Medium Italic';
	src: url('../fonts/BEAUFORTFORLOL-MEDIUMITALIC.OTF') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Beaufort For LOL';
	src: url('../fonts/BEAUFORTFORLOL-REGULAR.OTF') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Beaufort For LOL Regular Italic';
	src: url('../fonts/BEAUFORTFORLOL-REGULARITALIC.OTF') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* FONTS: SPIEGEL */
@font-face {
	font-family: 'Spiegel';
	src: url('../fonts/SPIEGEL-REGULAR.OTF') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Spiegel Bold';
	src: url('../fonts/SPIEGEL-BOLD.OTF') format('opentype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Spiegel Bold Italic';
	src: url('../fonts/SPIEGEL-BOLDITALIC.OTF') format('opentype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Spiegel Regular Italic';
	src: url('../fonts/SPIEGEL-REGULARITALIC.OTF') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Spiegel Semibold';
	src: url('../fonts/SPIEGEL-SEMIBOLD.OTF') format('opentype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Spiegel Semibold Italic';
	src: url('../fonts/SPIEGEL-SEMIBOLDITALIC.OTF') format('opentype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

/* FONTS: GS3 */
@font-face {
	font-family: 'GS3 Beatrice Medium';
	src: url('../fonts/GS3 BEATRICE MEDIUM.TTF') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GS3 Beatrice Medium Italic';
	src: url('../fonts/GS3 BEATRICE MEDIUMITALIC.TTF') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GS3 Beatrice Bold';
	src: url('../fonts/GS3 BEATRICE BOLD.TTF') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GS3 Beatrice Bold Italic';
	src: url('../fonts/GS3 BEATRICE BOLDITALIC.TTF') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
}

a, a:hover {
	text-decoration: none;
}
