.btn-open,
.btn-close {
	padding: 10px 20px;
	border: none;
	background-color: #007bff;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-open:hover,
.btn-close:hover {
	background-color: #0056b3;
}

/* Modal styles */
.modal {
	display: none; /* Hidden by default */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
	width: 100%;
	max-width: 400px;
	padding: 0;
	background-color: transparent;
	border: none;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

/* Card styles */
.card {
	width: 100%;
	height: 638px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	position: relative;
	color: white;
	border-radius: 10px;
	overflow: hidden;
	background: url('../img/vng/frame3/modal/Board.png') center center no-repeat;
}

.card-overlay {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 92px 20px 0;
}

.card-title {
	font-size: 24px;
	margin-bottom: 10px;
}

.card-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	bottom: 40px;
}

.x-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	right: 25px;
	top: 45px;
}

.arcane-title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 45px;
}

.card-button img {
	width: 150px;
	height: auto;
	border-radius: 10px; /* Optional rounded corners */
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-button img:hover {
	transform: scale(1.05); /* Slight zoom effect on hover */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

.card-description {
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}

.modal-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 200px;
	gap: 9px;
	font-family: var(--font-spiegel);
	color: #cffafa;
}

.modal-info > img {
	width: 198px;
	height: 198px;
}

.modal-info > h1 {
	font-family: var(--font-beaufort);
	color: var(--color-white);
	font-size: 24px;
}

.modal-champ-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 3px 10px;
	height: 90px;
}

.modal-role img {
	width: 36px;
	height: 36px;
}

.modal-description {
	font-family: var(--font-spiegel);
	padding: 0 50px;
	color: var(--color-white);
	font-size: 14px;
	width: 100%;
}
