.text-xxs {
	font-size: 0.625rem;
	color: var(--color-white);
	font-family: var(--font-primary);
	font-weight: normal;
}

.text-xs {
	font-size: 0.75rem;
	color: var(--color-white);
	font-family: var(--font-primary);
	font-weight: normal;
}

.text-sm {
	font-size: 0.875rem;
	color: var(--color-white);
	font-family: var(--font-primary);
	font-weight: normal;
}

.text-base {
	font-size: 1rem;
	color: var(--color-white);
	font-family: var(--font-primary);
	font-weight: normal;
}

.text-lg {
	font-size: 1.125rem;
	font-family: var(--font-primary);
	font-weight: normal;
}

.text-xl {
	font-size: 1.25rem;
	color: var(--color-white);
	font-family: var(--font-primary);
	font-weight: normal;
}

.text-title-1 {
	font-size: 1.25rem;
	color: var(--color-metal-gold);
	font-family: var(--font-primary);
	font-weight: normal;
}

.text-title-2 {
	font-size: 1.25rem;
	color: var(--color-metal-gold);
	font-family: var(--font-primary);
	font-weight: normal;
}

.text-title-3 {
	font-size: 1.25rem;
	color: var(--color-metal-gold);
	font-family: var(--font-primary);
	font-weight: normal;
}

.text-title-normal {
	font-size: 1.25rem;
	color: var(--color-white);
	font-family: var(--font-primary);
	font-weight: normal;
}